@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* Default Responsive Fonts */
$font-size-for-phone: 13px;
$font-size-for-tablet: 14px;
$font-size-for-desktop: 15px;
$font-size-for-big-desktop: 18px;

/*Base font size*/
$browser-context: 15;

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

a {
  text-decoration: underline;
  color: white;
  text-transform: uppercase;
}