.Cube {
  display: inline-block;
  border: 1px solid #2b415433;
  background: white;
  width: 23%;
  vertical-align: top;

  &:hover {
    background: #607588;
    color: white;
  }

  p {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 1px solid #2b415433;
  }

  .btn {
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 43%;
    margin: 12px 12px 12px 6%;
    border-radius: 4px;
    background: #607588;
    color: white;
  }

  .btn:hover {
    background-color: #0B2133;
    color: white;
    cursor: pointer;
  }

  img {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .details {
    display: block;
    margin: auto;
    width: 50%;
    background-color: #f3f3f2;
    padding: 1em;
  }
}